



body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif, sansserif;
	/*The weights are 300 (light), 400 (normal), 600 (semibold), and 700 (bold) and the only acceptable CSS keyword is "normal". */
	text-rendering: optimizeLegibility;
	color: #444;
	font-size: 18px;
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
h1 {
    font-size: 2.5em;
}
h1, h2, h3 {
    color: #262262;
}
h1, h2, h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.info h3 {
	margin-top: 0;
}
.info {
	margin-bottom: 1.6em;
}
.banner {
	min-height: 500px;
}
#logo {
	margin: 0 auto;
}
.profile-img {
	margin: 0 auto;
}
.clear-panel {
	padding: 2em 0 3em 0;
}
.clear-panel-header {
	margin-bottom: 1.2em;
}
.panel-grey {
	background-color: #f7f7f9;
}
.panel-sky {
	color: #fff;
	background-color: #5bc0de;
}
.banner .btn-default {
	font-size: 1.6em;
	color: #262262;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 1em;
    border-color: #fff;
}
.banner .btn-default:hover {
    color: #adadad;
    background-color: #fff;
    border-color: #adadad;
}
.icon {
	color: #00aeef;
	font-size: 3.6em;
}
footer {
	padding: 2em 0 3em 0;
	color: #fff;
	background-color: #00aeef;
}